{% extends "bootstrap/base.html" %}
{% block title %}Home Page{% endblock %}

<!-- 
{% block scripts %}
{{super()}}
    <script src="{{ url_for('static', filename='hello.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>Hello World</h3>
    <input type="button" onclick="sayHello()" value="Say Hello" class="btn btn-primary"/>
{% endblock %}
-->

{% block styles%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
{% endblock %}

{% block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">KSL Biomedical Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/newuser">Add New User</a>
                    <a class="dropdown-item" href="/allusers">Show All Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Delete Users</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/upload">File Upload</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link disabled" href="/showpdf">View PDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/texting">Send Text Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/scan">Scan Code</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link disabled" href="/qrcode/zheng%2C%20sophia%0D03%2F10%2F2021%0DM%0D111%20Pine%20Street%0DSuite%201815%0DSan%20Francisco%0DCA%0D94111%0D(111)%20111-1111%0D%0D%0D%0D%0DZ20.822%0D%0D%0Djohn@example.com">Generate Code</a>
            </li>        
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>