<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="{{ url_for('addrec')}}" method = "POST">
        <h3>Student Information</h3>
        Name<br>
        <input type="text" name="nm"/><br>

        Address<br>
        <input type="text" name="add"/><br>

        City<br>
        <input type="text" name="cty"/><br>

        <input type="submit" value="Submit"/>
    </form>

</body>
</html>